@reference '@/styles/index.css';

.animated-icon {
	&.hello {
		@apply transition-[filter,rotate,translate] duration-200 ease-in-out;

		&.changing {
			@apply blur-sm;
		}

		&.waving {
			@apply rotate-15 -translate-x-5;

			svg {
				@apply origin-[center_250%];

				animation-name: waving;
				animation-duration: 1.5s;
				animation-timing-function: ease-in-out;
				animation-iteration-count: infinite;
			}
		}
		&.rocking {
			@apply -rotate-10;

			svg {
				animation-name: rocking;
				animation-duration: 0.5s;
				animation-timing-function: ease-out;
				animation-iteration-count: infinite;
			}
		}
	}
}
@keyframes waving {
	0%,
	100% {
		rotate: -2deg;
	}
	50% {
		rotate: 2deg;
	}
}
@keyframes rocking {
	0%,
	100% {
		translate: 0rem;
	}
	50% {
		translate: 0rem -2rem;
	}
}
