@import './importer';

/*! purgecss start ignore */
.blob {
	max-width: 400px;
	opacity: 0;
	transition: opacity 0.2s ease-in-out;

	&.show {
		opacity: 1;
	}
	svg {
		fill: rgba($dark, 0.15);
		transition: fill 0.3s ease-in-out;
		pointer-events: all;

		path {
			transition-duration: 0.7s;
			transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
			transform-origin: center center;
		}
	}
	&.hover {
		svg {
			fill: rgba($dark, 0.3);

			path {
				transition-duration: 0.3s;
			}
		}
	}
}
/*! purgecss end ignore */
