@use './importer';

/*! purgecss start ignore */
.brand {
	$brand-padding-x: 12px;

	height: 70px;
	width: 100%;
	padding: calc($brand-padding-x) 7vw;
	fill: $dark;
	border: 1px solid rgba($danger, 0);
	transition: fill 0.2s ease-in-out, transform 0.2s ease-in-out,
		background-color 0.3s ease-in-out, border-color 0.3s ease-in-out,
		box-shadow 0.2s ease-in-out;

	@include media-breakpoint-up(sm) {
		height: 100px;
		padding: calc($brand-padding-x + 1vw) 5vw;
	}
	@include media-breakpoint-up(md) {
		padding: calc($brand-padding-x + 1vw) 4.5vw;
	}
	@include media-breakpoint-up(lg) {
		padding: calc($brand-padding-x + 1vw) 3.5vw;
	}
	@include media-breakpoint-up(xl) {
		padding: calc($brand-padding-x + 1vw) 2.5vw;
	}
	&:hover {
		transform: scale(1.1);
		box-shadow: 0 0.2rem 2.5rem rgba($dark, 0.15);
		fill: $success;
		background-color: rgba($dark, 0.1);
		border-color: rgba($dark, 0.3);
	}
}
/*! purgecss end ignore */
