@import './importer';

/*! purgecss start ignore */
a.link {
	.link-icon {
		> svg {
			transition: transform 0.2s ease-in-out, opacity 0.2s ease-in-out;
		}
	}
	.link-title {
		opacity: 0;
		transition: opacity 0.2s ease-in-out;
	}
}
/*! purgecss end ignore */
