/*! purgecss start ignore */
.links {
	&:hover {
		.link {
			.link-icon {
				> svg {
					transform: scale(0.9);
					opacity: 0.5;
				}
			}
			&:hover {
				.link-icon {
					> svg {
						transform: scale(1.5);
						opacity: 1;
					}
				}
				.link-title {
					opacity: 1;
					transition-delay: 0.5s;
				}
			}
		}
	}
}
/*! purgecss end ignore */
