main {
	background-color: var(--color-base-100);
	background-image: repeating-linear-gradient(
		45deg,
		var(--color-base-200) 0,
		var(--color-base-200) 0.15rem,
		transparent 0,
		transparent 50%
	);
	background-size: 0.5rem 0.5rem;
	background-attachment: fixed;
}
