$body-face: 'Open Sans';
$body-weight-light: 400;
$body-weight-normal: 400;
$body-weight-medium: 400;
$body-weight-semibold: 700;
$body-weight-bold: 700;

$heading-face: 'Montserrat';
$heading-weight-light: 500;
$heading-weight-normal: 500;
$heading-weight-medium: 500;
$heading-weight-semibold: 800;
$heading-weight-bold: 800;
$heading-lh: 1;
