html {
	scroll-behavior: smooth;
	height: -webkit-fill-available;
}
body {
	overscroll-behavior-x: none;
	overscroll-behavior-y: none;
	min-height: 100vh;
	min-height: -webkit-fill-available;
	user-select: none;
	//pointer-events: none;
	overflow: hidden;

	img,
	svg {
		pointer-events: none;
	}
	a,
	button,
	input,
	select,
	textarea,
	video,
	iframe {
		pointer-events: all;
	}
}
#root {
	position: static;
}

//

.app {
	min-width: 300px;
	background-color: $success;
}
