$body-ff: 'Open Sans', sans-serif;
$body-fw: 400;

$heading-ff: Montserrat, sans-serif;
$heading-fw: 900;
$heading-lh: 0.8;

$c-gray-dark: #473347;
$c-gray-light: #e2ebe8;
$c-green: #01f7c2;
$c-red: #e53c3c;
