@import 'tailwindcss';
@plugin '@tailwindcss/typography';

@import './custom/misc.css';
@import './custom/scrollbar.css';
@import './custom/lucide.css';
@import './custom/progress.css';
@import './custom/overlay.css';
@import './custom/button.css';
@import './custom/input.css';
@import './custom/badge.css';
@import './custom/toggle.css';

@plugin 'daisyui' {
	themes: light --default;
	root: ':root';
	include: button, link, input, range, toggle, progress, indicator, badge, kbd,
		loading;
	logs: true;
}

@plugin 'daisyui/theme' {
	name: 'light';
	default: true;
	--color-primary: var(--color-slate-500);
	--color-primary-content: var(--color-slate-200);
	--color-base-content: var(--color-slate-700);
	--color-base-100: var(--color-slate-100);
	--color-base-200: var(--color-slate-200);
	--color-base-300: var(--color-slate-300);
}

@theme {
	--breakpoint-sm: 40rem;
	--breakpoint-md: 48rem;
	--breakpoint-lg: 64rem;
	--breakpoint-xl: 80rem;
	--breakpoint-2xl: 96rem;

	--text-xxs: 0.55rem;
	--text-xxs--line-height: calc(1 / 0.5);
}
