@import 'tailwindcss';

@import './custom/misc.css';
@import './custom/lucide.css';
@import './custom/overlay.css';
@import './custom/button.css';
@import './custom/badge.css';

@plugin 'daisyui' {
	themes: light --default;
	root: ':root';
	include: button, link, carousel;
	logs: true;
}

@plugin 'daisyui/theme' {
	name: 'light';
	default: true;

	--color-palette-red: #fa3e70;
	--color-palette-purple: #cb6af7;
	--color-palette-brown: #a18d6c;

	--color-palette-green: #00e8c1;
	--color-palette-yellow: #f2df74;

	--color-palette-light-gray: #e8edec;
	--color-palette-light-gray2: #f2f5f4;
	--color-palette-light-gray3: #e1e8e6;
	--color-palette-gray: #c2cfcd;
	--color-palette-dark-gray: #757375;
	--color-palette-darker-gray: #545254;
}

@theme {
	--text-xxs: 0.55rem;
	--text-massive-lg: 12rem;
	--text-massive-xl: 14rem;
	--text-massive-2xl: 16rem;
}
