@import 'tailwindcss';
@plugin '@tailwindcss/typography';

@import './custom/misc.css';
@import './custom/scrollbar.css';
@import './custom/lucide.css';
@import './custom/overlay.css';
@import './custom/button.css';
@import './custom/badge.css';

@plugin 'daisyui' {
	themes: light --default;
	root: ':root';
	include: button, link, badge, loading;
	logs: true;
}

@plugin 'daisyui/theme' {
	name: 'light';
	default: true;

	--color-palette-red: #e53c3c;
	--color-palette-green: #01f7c2;
	--color-palette-dark: #473347;
	--color-palette-light: #e2ebe8;

	--color-primary: var(--color-palette-dark);
	--color-secondary: var(--color-palette-red);
	--color-accent: var(--color-palette-green);

	--color-primary-content: var(--color-palette-light);
	--color-secondary-content: var(--color-palette-light);
	--color-accent-content: var(--color-palette-dark);
}

@theme {
	/*
	--text-xxs: 0.55rem;
	--text-xxs--line-height: calc(1 / 0.5);
	*/
}
