@import './config.css';
@import './themes.css';
@import './typography.css';

@layer base {
	:root {
		--font-title: 'Montserrat', sans-serif;
		--font-body: 'Roboto', sans-serif;
	}

	html {
		scroll-behavior: smooth;
		width: -webkit-fill-available;
		height: -webkit-fill-available;
	}

	body {
		@apply overscroll-x-none
			overscroll-y-none
			min-h-[100vh]
			max-w-[100%]
			overflow-hidden
			select-none
			bg-base-100;

		min-height: -webkit-fill-available;
		font-family: var(--font-body);
	}

	* {
		@apply focus-visible:outline-2
			focus-visible:outline-current
			focus-visible:shadow-none;
	}
}

@layer utilities {
	.forced-to-be-included {
		@apply text-base;
		@apply text-sm;
	}
}
