@layer base {
	[data-theme='red'] {
		--color-background: var(--color-palette-red);
		--color-heading: var(--color-palette-light-gray2);
		--color-content: var(--color-palette-light-gray);

		--color-link: var(--color-palette-green);
		--color-link-hover: color-mix(in srgb, var(--color-link) 35%, white);
		--color-link-active: var(--color-palette-light-gray);

		--duotone-color-background: var(--color-palette-purple);
		--duotone-color-foreground: var(--color-palette-green);
	}
	[data-theme='purple'] {
		--color-background: var(--color-palette-purple);
		--color-heading: var(--color-palette-light-gray);
		--color-content: var(--color-palette-light-gray);

		--color-link: var(--color-palette-green);
		--color-link-hover: color-mix(in srgb, var(--color-link) 35%, white);
		--color-link-active: var(--color-palette-light-gray);

		--duotone-color-background: var(--color-palette-purple);
		--duotone-color-foreground: var(--color-palette-green);
	}
	[data-theme='brown'] {
		--color-background: var(--color-palette-brown);
		--color-heading: var(--color-palette-light-gray);
		--color-content: var(--color-palette-light-gray);

		--color-link: var(--color-palette-yellow);
		--color-link-hover: color-mix(in srgb, var(--color-link) 35%, white);
		--color-link-active: var(--color-palette-light-gray);

		--duotone-color-background: var(--color-palette-purple);
		--duotone-color-foreground: var(--color-palette-green);
	}
	[data-theme='dark-gray'] {
		--color-background: var(--color-palette-dark-gray);
		--color-heading: var(--color-palette-light-gray);
		--color-content: var(--color-palette-light-gray);

		--color-link: var(--color-palette-yellow);
		--color-link-hover: color-mix(in srgb, var(--color-link) 35%, white);
		--color-link-active: var(--color-palette-light-gray);

		--duotone-color-background: var(--color-palette-purple);
		--duotone-color-foreground: var(--color-palette-green);
	}

	[data-theme='green'] {
		--color-background: var(--color-palette-green);
		--color-heading: var(--color-palette-dark-gray);
		--color-content: var(--color-palette-dark-gray);

		--color-link: var(--color-palette-red);
		--color-link-hover: color-mix(in srgb, var(--color-link) 75%, black);
		--color-link-active: var(--color-palette-dark-gray);

		--duotone-color-background: var(--color-palette-purple);
		--duotone-color-foreground: var(--color-palette-green);
	}
	[data-theme='yellow'] {
		--color-background: var(--color-palette-yellow);
		--color-heading: var(--color-palette-dark-gray);
		--color-content: var(--color-palette-dark-gray);

		--color-link: var(--color-palette-brown);
		--color-link-hover: color-mix(in srgb, var(--color-link) 75%, black);
		--color-link-active: var(--color-palette-dark-gray);

		--duotone-color-background: var(--color-palette-purple);
		--duotone-color-foreground: var(--color-palette-green);
	}

	[data-theme='white'] {
		--color-background: var(--color-palette-light-gray);
		--color-heading: var(--color-palette-dark-gray);
		--color-content: var(--color-palette-dark-gray);

		--color-link: var(--color-palette-red);
		--color-link-hover: color-mix(in srgb, var(--color-link) 75%, black);
		--color-link-active: var(--color-palette-dark-gray);

		--duotone-color-background: var(--color-palette-purple);
		--duotone-color-foreground: var(--color-palette-green);
	}
	[data-theme='light-gray'] {
		--color-background: var(--color-palette-light-gray);
		--color-heading: var(--color-palette-dark-gray);
		--color-content: var(--color-palette-dark-gray);

		--color-link: var(--color-palette-red);
		--color-link-hover: color-mix(in srgb, var(--color-link) 75%, black);
		--color-link-active: var(--color-palette-dark-gray);

		--duotone-color-background: var(--color-palette-purple);
		--duotone-color-foreground: var(--color-palette-green);
	}
	[data-theme='light-gray2'] {
		--color-background: var(--color-palette-light-gray2);
		--color-heading: var(--color-palette-dark-gray);
		--color-content: var(--color-palette-dark-gray);

		--color-link: var(--color-palette-red);
		--color-link-hover: color-mix(in srgb, var(--color-link) 75%, black);
		--color-link-active: var(--color-palette-dark-gray);

		--duotone-color-background: var(--color-palette-purple);
		--duotone-color-foreground: var(--color-palette-green);
	}
	[data-theme='light-gray3'] {
		--color-background: var(--color-palette-light-gray3);
		--color-heading: var(--color-palette-dark-gray);
		--color-content: var(--color-palette-dark-gray);

		--color-link: var(--color-palette-red);
		--color-link-hover: color-mix(in srgb, var(--color-link) 75%, black);
		--color-link-active: var(--color-palette-dark-gray);

		--duotone-color-background: var(--color-palette-purple);
		--duotone-color-foreground: var(--color-palette-green);
	}

	[data-theme='gray'] {
		--color-background: var(--color-palette-gray);
		--color-heading: var(--color-palette-dark-gray);
		--color-content: var(--color-palette-dark-gray);

		--color-link: var(--color-palette-purple);
		--color-link-hover: color-mix(in srgb, var(--color-link) 75%, black);
		--color-link-active: var(--color-palette-dark-gray);

		--duotone-color-background: var(--color-palette-purple);
		--duotone-color-foreground: var(--color-palette-green);
	}
}
