@layer base {
	h1,
	.h1,
	h2,
	.h2,
	h3,
	.h3,
	h4,
	.h4,
	h5,
	.h5,
	h6,
	.h6 {
		@apply font-(family-name:--font-title);
	}
	h1,
	.h1 {
		@apply text-4xl leading-[0.9em]
			sm:text-5xl 
			xl:text-6xl xl:leading-[0.85em];

		&.extra {
			@apply text-5xl leading-[0.9em]
				md:text-6xl md:leading-[0.85em]
				xl:text-7xl;
		}
	}
	h2,
	.h2 {
		@apply text-3xl leading-[0.95em]
			xl:text-4xl xl:leading-[0.9em];
	}
	h3,
	.h3 {
		@apply text-2xl leading-[1.1em]
			xl:text-3xl xl:leading-[0.95em];
	}
	h4,
	.h4 {
		@apply text-2xl leading-[1.1em];
	}
	h5,
	.h5 {
		@apply text-xl leading-[1.1em];
	}
	h6,
	.h6 {
		@apply text-lg leading-[1em];
	}
	p {
		@apply text-base xl:text-lg;

		&.extra {
			@apply text-lg xl:text-xl;
		}
		&.extra-2x {
			@apply text-2xl xl:text-3xl;
		}

		&.leading {
			@apply text-2xl;

			&.extra {
				@apply text-2xl xl:text-3xl;
			}
		}
	}
}

@layer components {
	.font-title {
		@apply font-(family-name:--font-title);
	}
	.font-body {
		@apply font-(family-name:--font-body);
	}
	.font-mono {
		@apply font-(family-name:--font-mono);
	}
}
