@layer base {
	.h0,
	h1,
	.h1,
	h2,
	.h2,
	h3,
	.h3,
	h4,
	.h4,
	h5,
	.h5,
	h6,
	.h6 {
		font-family: var(--font-title);
	}

	.h0 {
		@apply text-7xl leading-[0.8em]
			sm:text-8xl
			md:text-9xl;
	}
	h1,
	.h1 {
		@apply text-5xl leading-[0.9em]
			md:text-6xl lg:leading-[0.85em];

		&.h1-lg {
			@apply text-6xl leading-[0.85em]
				md:text-7xl md:leading-[0.8em]
				lg:text-8xl;
		}
	}
	h2,
	.h2 {
		@apply text-3xl leading-[0.95em]
			md:text-4xl lg:leading-[0.9em];
	}
	h3,
	.h3 {
		@apply text-2xl leading-[1.1em]
			md:text-3xl lg:leading-[0.95em];
	}
	h4,
	.h4 {
		@apply text-2xl leading-[1.1em];
	}
	h5,
	.h5 {
		@apply text-xl leading-[1.2em];
	}
	h6,
	.h6 {
		@apply text-lg leading-[1.3em];
	}
	p {
		@apply text-base md:text-lg;

		&.leading {
			@apply text-xl md:text-2xl;
		}
	}
}

@layer components {
	.font-title {
		font-family: var(--font-title);
	}
	.font-body {
		font-family: var(--font-body);
	}
}
