@import '../../assets/scss/importer';

/*! purgecss start ignore */
.love {
	background-color: $culo;

	&.show {
		.love-icon {
			opacity: 1;
			transform: scale(1);
		}
	}
	.love-icon {
		font-size: 150%;
		opacity: 0;
		transform: scale(0.9);
		transition: opacity 0.4s ease-in-out, transform 0.4s ease-in-out;
	}
	.love-cursor {
		animation-name: LOVE_CURSOR;
		animation-duration: 0.5s;
		animation-timing-function: linear;
		animation-fill-mode: both;
		animation-iteration-count: infinite;

		@keyframes LOVE_CURSOR {
			0%,
			50% {
				opacity: 1;
			}
			55%,
			100% {
				opacity: 0;
			}
		}
	}
	.love-link {
		> svg {
			opacity: 0;
			transform: translateX(-100%);
			transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
		}
		&.show {
			> svg {
				opacity: 1;
				transform: translateX(0);
			}
		}
	}
}
/*! purgecss end ignore */
