.moods {
	.moods-cursor {
		animation-name: blink;
		animation-duration: 0.5s;
		animation-iteration-count: infinite;
	}
}
@keyframes blink {
	0%,
	50% {
		opacity: 0;
	}
	51%,
	100% {
		opacity: 1;
	}
}
