.title {
	.h0 {
		background-image: repeating-linear-gradient(
			45deg,
			var(--color-next-background) 0,
			var(--color-next-background) var(--pattern-thickness),
			transparent 0,
			transparent 50%
		);
		background-size: 0.5rem 0.5rem;
		background-position: left center;
		background-attachment: fixed;
		min-width: fit-content;

		-webkit-background-clip: text;
		background-clip: text;
	}
}
