.cursor {
	&::before {
		content: '';
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		background-image: repeating-linear-gradient(
			45deg,
			var(--color-palette-gray) 0,
			var(--color-palette-gray) 0.15rem,
			transparent 0,
			transparent 50%
		);
		background-size: 1.5rem 1.5rem;
		background-position: 0 0;
		background-attachment: fixed;
		opacity: 0;
	}
	&.cursor-link {
		&::before {
			animation-name: cursor-link;
			animation-duration: 500ms;
			animation-iteration-count: infinite;
			animation-timing-function: linear;
			opacity: 1;
			transition: opacity 1s ease-in-out 1s;
		}
	}
}
@keyframes cursor-link {
	0% {
		background-position: 0 0;
	}
	100% {
		background-position: 1.5rem 0;
	}
}
