@import '~bootstrap/scss/bootstrap';

body {
	height: -webkit-fill-available;

	.root {
		position: static;
	}
	.app {
		position: absolute;
		width: 100%;
		height: 100%;
		overflow: hidden;

		article {
			position: relative;
			flex: 1;
			background-color: #f00;

			> .article {
				position: absolute;
				width: 100%;
				height: 100%;

				&.fade-enter,
				&.fade-exit {
					transition: transform 0.3s ease-in-out;
				}
				&.fade-enter {
					transform: translateX(100%);

					&.fade-enter-active {
						transform: translateX(0);
					}
				}
				&.fade-exit {
					transform: translateX(0);

					&.fade-exit-active {
						transform: translateX(-100%);
					}
				}
			}
		}
	}
}
